
.icon-mail:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-facebook-rect:before { content: '\e802'; } /* '' */
.icon-twitter-rect:before { content: '\e803'; } /* '' */